* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: none;
    justify-content: center;
    background: linear-gradient(90deg, rgba(30,23,103,1) 0%, rgba(51,31,108,1) 35%, rgba(31,10,63,1) 100%);
}

.first-block {
    display: flex;
    position: absolute;
    top: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-block .icons {
    display: flex;
    font-size: 22px;
    color: white;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px 0px;
}

.first-block .icons i {
    background-color: rgb(47, 10, 104);
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0 0 8px 7px rgba(109, 30, 184, 0.6);
    transform: translateY(-100px);
    opacity: 0;
    animation: slideIcons 0.8s forwards;
}

#code {
    padding: 12px 10px;
}

.first-block .icons i:nth-child(2) {
    animation-delay: 0.2s;
}

first-block .icons i:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes slideIcons {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.first-block h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #cecccc;
    transform: translateX(-100px);
    opacity: 0;
    animation: slideText 1s forwards 0.6s;
}

@keyframes slideText {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.first-block h2 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
}

.first-block h2 span {
    background: linear-gradient(90deg, rgb(62, 47, 180) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(100px);
    opacity: 0;
    animation: slideUp 0.8s forwards;
}

.first-block h2 span:nth-child(2) {
    animation-delay: 0.3s;
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.first-block p {
    font-size: 23px;
    background: linear-gradient(90deg, rgb(62, 47, 180) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    transform: translateY(100px);
    opacity: 0;
    animation: slideUp 0.6s forwards 0.6s;
}

.fade-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity 1.2s, filter 1.2s;
    z-index: 10;
    pointer-events: none;
}

.main_block {
    opacity: 0%;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    padding:0 10%;
}

header h1{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(86, 69, 214) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headd{
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
    text-transform: none;
    transition: 0.25s ease;
    font-size: 18px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 1em 0 1em;
}

nav:hover a {
    color: #575757;
}

nav:hover a:hover {
    color: #8EAAFB;
    box-shadow: 0 2px 0 0 currentColor;
}

.left {
    margin-top: 10%;
    margin-left: 8%;
    opacity: 0;
    transform: translateY(150px);
    animation: slideUp 1s forwards 3.5s;
}

.left .devlop span:nth-child(1) {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 3.6s;
}

.left .devlop span:nth-child(2) {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 3.7s;
}

.left .discript {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 3.8s;
}

.left .language {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 3.9s;
}

.left .buttons {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 4s;
}

.left .plink {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 4.1s;
}

@keyframes slideUp {
    from {
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.devlop {
    display: flex;
    flex-direction: column;
}

.devlop span {
    color: white;
    font-size: 70px;
}

.devlop span:nth-child(2) {
    background: linear-gradient(90deg, rgb(63, 0, 145) 0%, rgba(106,61,225,1) 35%, rgb(154, 73, 236) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;
}

.discript {
    max-width: 35%;
    font-size: 40px;
    color: #99a1af;
    margin-top: 15px;
    margin-bottom: 15px;

}

.language {
    display: flex;
    gap: 15px;
}

.language p {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(151, 151, 151, 0.180);
    border: 0.5px solid rgba(128, 128, 128, 0.25);
    border-radius: 15px;
    font-size: 18px;
    padding: 6px;
    color: #99a1af;
}

.language p:hover {
    background: rgba(87, 87, 87, 0.25);
}

.buttons {
    font-size: 24px;
    margin: 30px;
    margin-left: 0;
}

.buttons a {
    border: 1px solid black;
    background-color: rgb(1, 3, 41);
    border-radius: 10px;
    padding: 10px 15px;
    color: #99a1af;
    margin-right: 20px;
}

.buttons a:hover {
    background-color: rgb(16, 19, 87);

}

.plink {
    font-size: 45px;
    margin-left: 4.5%;
}

.plink a {
    color: inherit;
    text-decoration: none;
    font-size: 45px;
}

.plink i {
    margin-right: 1.75%;
}

.second {
    padding-top: 20%;
}

.about_me {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}


.information {
    display: flex;
    align-items: center;
}

.second h1 { 
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(86, 69, 214) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}

.about_info {
    margin-left: 8%;
    flex-direction: column;
}

.user_icon{
    background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(69,69,69,1) 81%, rgba(94,94,94,1) 100%);
    border: 5px solid rgba(112, 112, 112, 0.5);
    border-radius: 360px;
    width: 360px;
    height: 360px;
    margin-right: 8%;



}

.user_anonim {
    width: 350px;
    height: auto;
}


.name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(86, 69, 214) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}
.discript_about{
    max-width: 70%;
    font-size: 30px;
    color: #99a1af;
    margin-top: 15px;
    margin-bottom: 15px;
    transform: translateX(-100px);

}

/* New animation styles */
.about_me_title, .about_info_text, .about_info_image {
    opacity: 0;
    transition: all 1.0s ease;
}

.about_me_title.animate {
    transform: translateY(-100px) scale(1.2);
    opacity: 1;
}

.about_info_text.animate {
    transform: translateX(0px);
    opacity: 1;
}

.about_info_image.animate {
    transform: translateY(-50px);
    opacity: 1;

}