* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: none;
    justify-content: center;
    background: linear-gradient(90deg, rgba(30,23,103,1) 0%, rgba(51,31,108,1) 35%, rgba(31,10,63,1) 100%);
    overflow: hidden;
    
}

#gridCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Чтобы Canvas не мешал кликам */
}

.first-block {
    display: flex;
    position: absolute;
    top: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-block .icons {
    display: flex;
    font-size: 22px;
    color: white;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px 0px;
}

.first-block .icons i {
    background-color: rgb(47, 10, 104);
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0 0 8px 7px rgba(109, 30, 184, 0.6);
    transform: translateY(-100px);
    opacity: 0;
    animation: slideIcons 0.8s forwards;
}

#code {
    padding: 12px 10px;
}

.first-block .icons i:nth-child(2) {
    animation-delay: 0.2s;
}

first-block .icons i:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes slideIcons {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.first-block h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #cecccc;
    transform: translateX(-100px);
    opacity: 0;
    animation: slideText 1s forwards 0.6s;
}

@keyframes slideText {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.first-block h2 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
}

.first-block h2 span {
    background: linear-gradient(90deg, rgb(62, 47, 180) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(100px);
    opacity: 0;
    animation: slideUp 0.8s forwards;
}

.first-block h2 span:nth-child(2) {
    animation-delay: 0.3s;
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.first-block p {
    font-size: 23px;
    background: linear-gradient(90deg, rgb(62, 47, 180) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    transform: translateY(100px);
    opacity: 0;
    animation: slideUp 0.6s forwards 0.6s;
}

.fade-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity 1.2s, filter 1.2s;
    z-index: 10;
    pointer-events: none;
}

.main_block {
    opacity: 0%;
    width: 100%;
}

header {
    display: flex;
    position: fixed;
    z-index: 1000;
    align-items: center;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    padding:0 10%;
}

header h1{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(86, 69, 214) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headd{
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
    text-transform: none;
    transition: 0.25s ease;
    font-size: 18px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 1em 0 1em;
}

nav:hover a {
    color: #575757;
}

nav:hover a:hover, nav a.active-nav{
    color: #8EAAFB;
    box-shadow: 0 2px 0 0 currentColor;
}

.left {
    display: flex;
    margin-top: 10%;
    margin-left: 8%;
    opacity: 0;
    transform: translateY(150px);
    animation: slideUp 1s forwards 3.5s;
}

.fl {
    display: flex;
    flex-direction: column;
}

.fr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.fr img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    transition: all 1s;
}

.fr img:hover {
    scale: 1.1;
    transform: rotate(20deg);
}

.left .devlop span:nth-child(1) {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 3.6s;
}

.left .devlop span:nth-child(2) {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 3.7s;
}

.left .discript {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 3.8s;
}

.left .language {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 3.9s;
}

.left .buttons {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 4s;
}



.left .plink {
    transform: translateY(150px);
    opacity: 0;
    animation: slideUp 1s forwards 4.1s;
}

@keyframes slideUp {
    from {
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.devlop {
    display: flex;
    flex-direction: column;
}

.devlop span {
    color: white;
    font-size: 70px;
}

.devlop span:nth-child(2) {
    background: linear-gradient(90deg, rgb(63, 0, 145) 0%, rgba(106,61,225,1) 35%, rgb(154, 73, 236) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;
}

.discript {
    max-width: 45%;
    font-size: 40px;
    color: #99a1af;
    margin-top: 15px;
    margin-bottom: 15px;

}

.language {
    display: flex;
    gap: 15px;
}

.language p {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(151, 151, 151, 0.100);
    border: 0.5px solid rgba(128, 128, 128, 0.25);
    border-radius: 15px;
    font-size: 18px;
    padding: 6px;
    color: #99a1af;
}

.language p:hover {
    background: rgba(87, 87, 87, 0.25);
}

.buttons {
    font-size: 24px;
    margin: 30px;
    margin-left: 0;
    
}

.buttons a {
    border: none;
    background-color: #06021b;
    border-radius: 10px;
    padding: 10px 15px;
    color: #99a1af;
    margin-right: 20px;
    box-shadow: 0px 0px 40px -2px rgba(193, 71, 204, 0.4);
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

.buttons a:hover {
    background-color: rgb(8, 11, 63);
    box-shadow: 0px 0px 35px 0px rgba(193, 71, 204, 0.6);


}

.plink {
    font-size: 45px;
    margin-left: 8.5%;
    transition: all 0.6s ease-in-out;
    
}

.plink a {
    color: inherit;
    color: rgba(151, 151, 151, 0.3);
    text-decoration: none;
    font-size: 45px;
}

.plink i:hover {
    scale: 1.1;
    color: rgba(102, 102, 102, 0.4);

}

.plink i {
    margin-right: 1.75%;
    transition: all 0.4s ease-in-out;

} 

.second {
    padding-top: 20%;
    padding-bottom: 10%;
}

.about_me {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    transform: translateY(100px)
}


.information {
    display: flex;
    align-items: center;
}

.second h1 { 
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(86, 69, 214) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}

.about_info {
    margin-left: 8%;
    flex-direction: column;
}

.user_icon{
    background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(69,69,69,1) 81%, rgba(94,94,94,1) 100%);
    border: 5px solid rgba(112, 112, 112, 0.5);
    border-radius: 360px;
    width: 360px;
    height: 360px;
    margin-right: 8%;



}

.user_anonim {
    width: 350px;
    height: auto;
    transform: translateX(0px);
    border-radius: 50%; /* если нужно круглое изображение */
    box-shadow: 5px 5px 120px 8px rgba(193, 71, 204, 0.6);
}

.user_icon:hover {
    scale: 1.05;
}


.name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(86, 69, 214) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}
.discript_about{
    max-width: 70%;
    font-size: 30px;
    color: #99a1af;
    margin-top: 15px;
    margin-bottom: 15px;
    transform: translateX(-100px);

}

/* New animation styles */
.about_me_title, .about_info_text, .about_info_image {
    opacity: 0;
    transition: all 1.0s ease;
}

.about_info_text, .about_info_image {
    transition-delay: 0,5s;
}

.about_me_title.animate {
    transform: translateY(-100px) scale(1.2);
    opacity: 1;
}

.about_info_text.animate {
    transform: translateX(0px);
    opacity: 1;
}

.about_info_image.animate {
    transform: translateX(-50px);
    opacity: 1;

}

.portfolio_case {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.portfolio_case h1 { 
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(86, 69, 214) 0%, rgba(106,61,225,1) 35%, rgb(111, 39, 184) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}

.showcase_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border: 2px solid black;
    border-radius: 15px;
    width: 65%;
    margin: auto;
    padding: 10px 0px;
    background: linear-gradient(90deg, rgba(53, 43, 131, 0.25) 0%, rgba(114, 80, 206, 0.25) 35%, rgba(97, 22, 172, 0.25) 100%);

}

.showcase_button {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
}

.showcase_button.animate {
    opacity: 1;
    transform: translateY(0);
}

.show_button {
    padding: 20px 150px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
}

.show_button_active {
    background: linear-gradient(90deg, rgba(86, 69, 214, 0.7) 0%, rgba(106,61,225,0.7) 35%, rgba(112, 39, 184, 0.7) 100%);
    transition: all 0.4s ease-in-out;
    transform: scale(1.05);
}

.show_button:hover {
    background: linear-gradient(90deg, rgba(86, 69, 214, 0.5) 0%, rgba(105, 61, 225, 0.5) 35%, rgba(112, 39, 184, 0.5) 100%);
    transform: scale(1.02);
}

/* Анимация для showcase */



.portfolio_case, .shproject .shpcart, .shtechstack .tscart {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
}

.portfolio_case.animate, .shproject .shpcart.animate, .shtechstack .tscart.animate {
    opacity: 1;
    transform: translateY(0);
}



.shproject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 8%;
    margin-top: 2%;
}

.shtechstack {
    display: grid;
    width: 40%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.shproject, .shtechstack {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
}

.fade-out {
    opacity: 0 !important;
    transform: translateY(10px) !important;
}

.shproject.active, .shtechstack.active {
    opacity: 1;
    transform: translateY(0);
    display: grid;
}

.tscart {
    font-size: 100px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15% 0;
    background: rgba(61, 61, 61, 0.5);
    transition: all 0.5s;
}

.tscart:hover{
    scale: 1.1;
}



.tscart span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tscart p {
    font-size: 20px;
    color: white;
}



.shpcart {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    background: rgba(41, 40, 65, 0.75);
    height: 90%;
}

.shpcart:hover {
    scale: 1.04;
    border: 2px solid rgba(149, 44, 158, 0.4);
}

.shpcart img{
    width: 90%;
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    margin: 5%;
    border-radius: 20px;
}

.shpcart h1 {
    background: linear-gradient(90deg, rgb(166, 166, 255), rgb(237, 227, 247), rgb(192, 155, 211));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 5%;
}

.shpcart p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    font-size: 20px;
    color: #99a1af;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-top: 1px solid #99a1af;
    gap: 20px;
    padding: 0 15%;
    backdrop-filter: blur(5px);
    
}
.foticon {
    display: flex;
    gap: 25px;
}

footer a {
    font-size: 50px;
}

footer h1 {
    font-size: 20px;
    color: #cecccc;
}

.foticons:hover {
    scale: 1.1;
}

@media screen and (max-width: 480px){
        header {
            display: none;
        }
        .fl {
            display: flex;
            margin: 0 auto;
        }
        .devlop span:nth-child(2) {
            font-size: 55px;
        }
        .devlop span {
            font-size: 60px;
        }

        .language p {
            font-size: 16px;
            padding: 4px;
            color: #99a1af;
        }
        .fr {
            display: none;
        }

        .user_icon {
            display: none;
        }
        .discript {
            max-width: 90%;
            font-size: 30px;
            margin-top: 15px;
            margin-bottom: 15px;
        
        }
        .discript_about{
            max-width: 90%;
            font-size: 25px;
        }
        .portfolio_case h1 {
            font-size: 32px;
            margin: 0 auto;
        }
        
        .showcase_button {
            gap: 2%;
            width: 90%;
            margin: auto;
            padding: 5px 0px;
        }
        .show_button {
            padding: 10px 20px;
            font-size: 20px;
        }
        /*
        .shproject {
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 15px;
            margin: 2%;
        }
        .shpcart {
            height: 100%;
        }
        .shpcart h1 {
            text-align: center;
            margin-left: 0;
            font-size: 30px;
        }

        .shtechstack {
            width: 95%;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 15px;
            margin: 2.5%;
            margin-bottom: 5%;
        } */


        footer {
            height: 100px;
            padding: 0 2%;
        }
        .foticon {
            gap: 8px;
        }
        footer a {
            font-size: 35px;
        }
        footer h1 {
            font-size: 14px;
        }
        
}